{{#each leagues as |league|}}

<div>
  <section data-id="{{league.id}}" class="league-list">
  <p>League Name: {{league.name}} Team Name: {{league.teams}}
    <button type="button" class="btn btn-primary view-league">View
    </button>
    <button type="button" class="btn btn-primary delete-league">Delete
    </button>
  </p>
</section>
</div>

{{/each}}

<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Teams</th>
    </tr>
  </thead>
  <tbody>
    {{#each leagues as |league|}}
    <section data-id="{{league.id}}">
      <tr>
        <td>{{league.name}}</td>
        <td>{{league.teams}}</td>
        <td><button type="button" class="btn btn-primary view-league">View</button></td>
        <td><button type="button" class="btn btn-primary delete-league">Delete</button></td>
      </tr>
    </section>
    {{/each}}
  </tbody>
</table> -->
