<div>
  <section data-id="{{league.id}}" class="league-list">
  <p>League Name: {{league.name}}</p>
  <p>League ID: {{league.id}}</p>
  <p>Teams: {{league.teams}}</p>
  <p>User ID: {{league.user_id}}</p>
  <button class="btn btn-default delete-league">Delete
  </button>
</section>
</div>
